{% extends 'base.html' %}
{% block content %}
<br>
<h4 id="latest_entry">Latest Entry</h4>
<br><br>
<div class="row">
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">Temp</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Latest Temperature</p>
          <h4 class="mb-0" id="latest_temp"></h4>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
        </div>
      </div>
      <hr class="dark horizontal my-0">
    </div>
  </div>


  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape  shadow-primary text-center border-radius-xl mt-n4 position-absolute" style="background-color: rgb(167,27,177)
        ;">
          <i class="material-icons opacity-10">Curr1</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Latest Current 1</p>
          <h4 class="mb-0" id="latest_curr1"></h4>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape  bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute" style="background-color: rgb(167,27,177)
        ;">
          <i class="material-icons opacity-10">Curr2</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Latest Current 2</p>
          <h4 class="mb-0" id="latest_curr2"></h4>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-xl-4 col-sm-6">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape shadow-info text-center border-radius-xl mt-n4 position-absolute" style="background-color: rgb(167,27,177)
        ;">
          <i class="material-icons opacity-10">Curr3</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Latest Current 3</p>
          <h4 class="mb-0" id="latest_curr3"></h4>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">Vib</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Latest Vibration</p>
          <h4 class="mb-0" id="latest_vib"></h4>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape shadow-info text-center border-radius-xl mt-n4 position-absolute" style="background-color: rgb(167,27,177)
        ;">
          <i class="material-icons opacity-10">Spd</i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Latest Speed</p>
          <h4 class="mb-0" id="latest_spd"></h4>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
      </div>
    </div>
  </div> 
</div>

<!-- Area to display predictions -->
<div id="predictionsArea" style="background-color: blueviolet; color:white;font-weight: bolder;"></div>

<div class="container mt-5">
    <h4 id="health_data">3-Ph_IM Data</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Temperature</th>
                <th>Current1</th>
                <th>Current2</th>
                <th>Current3</th>
                <th>Vibration</th>
                <th>Speed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in health_data %}
                <tr>
                    <td>{{ entry.timestamp }}</td>
                    <td>{{ entry.temperature }}</td>
                    <td>{{ entry.current1 }}</td>
                    <td>{{ entry.current2 }}</td>
                    <td>{{ entry.current3 }}</td>
                    <td>{{ entry.vibration }}</td>
                    <td>{{ entry.speed }}</td>
                    <td><button class="predict-button">Predictions</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
    <!-- Area to display predictions -->
    <div id="predictionsArea"></div>

    <h4 id="health_chart">3-Ph_IM Chart</h4>
    <canvas id="healthChart" width="600" height="300"></canvas>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('healthChart').getContext('2d');
    
            var data = {
                labels: [{% for entry in health_data %}'{{ entry.timestamp }}',{% endfor %}],
                datasets: [
                    {
                        label: 'Temperature',
                        data: [{% for entry in health_data %}{{ entry.temperature }},{% endfor %}],
                        borderColor: 'rgb(37,37,39)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Current1',
                        data: [{% for entry in health_data %}{{ entry.current1 }},{% endfor %}],
                        borderColor: 'rgb(230,54,115)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Current2',
                        data: [{% for entry in health_data %}{{ entry.current2 }},{% endfor %}],
                        borderColor: 'rgb(230,54,115)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Current3',
                        data: [{% for entry in health_data %}{{ entry.current3 }},{% endfor %}],
                        borderColor: 'rgb(230,54,115)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Vibration',
                        data: [{% for entry in health_data %}{{ entry.vibration }},{% endfor %}],
                        borderColor: 'rgb(167, 27, 177)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Speed',
                        data: [{% for entry in health_data %}{{ entry.speed }},{% endfor %}],
                        borderColor: 'rgb(38,127,234)',
                        borderWidth: 1,
                        fill: false
                    }
                ]
            };
    
            var options = {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            };
    
            var chart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });
        });
    </script>
    
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    var predictButtons = document.querySelectorAll(".predict-button");
    var predictionsContainer = document.getElementById("predictionsArea");

    predictButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            var row = button.closest("tr");

            if (row && row instanceof HTMLTableRowElement) {
                var rowData = {
                    "current_1_lebelling": row.cells[2].innerText,
                    "current_2_lebelling": row.cells[3].innerText,
                    "current_3_lebelling": row.cells[4].innerText,
                    "temperature": row.cells[1].innerText,
                    "speed": row.cells[6].innerText,
                    "vibration": row.cells[5].innerText
                };

                // Make API request using Fetch API
                fetch("/api/motor-recommendation/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify([rowData]),
                })
                .then(response => response.json())
                .then(data => {
                    if (data && data.prediction !== undefined && data.recommendation !== undefined) {
                        // Convert recommendation object to string
                        var recommendationString = JSON.stringify(data.recommendation);

                        // Update the predictions container in the template
                        predictionsContainer.innerHTML =
                            "<p>Prediction: " + data.prediction + "</p>" +
                            "<p>Recommendation: " + recommendationString + "</p>";
                    } else {
                        predictionsContainer.innerHTML = "<p>Error: Prediction or Recommendation is undefined.</p>";
                    }
                })
                .catch(error => {
                    predictionsContainer.innerHTML = "<p>Error: API Request failed.</p>";
                    console.log("API Request Error:", error);
                });
            } else {
                predictionsContainer.innerHTML = "<p>Error: Row is null or not an HTMLTableRowElement</p>";
            }
        });
    });
});

</script>
{% endblock %}
