{% extends 'base.html' %}

{% block content %}
<br>
<h3>Tables and chart</h3>
<div class="row mt-5">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Temperature Chart</h4>
                <canvas id="temperatureChart" width="400" height="250"></canvas>
                <script>
                    const temperatureLabels = {{ temperature_labels| safe }};
                    const temperatureData = {{ temperature_values| safe }};

                    const temperatureConfig = {
                        type: 'line',
                        data: {
                            labels: temperatureLabels,
                            datasets: [{
                                label: 'Temperature',
                                data: temperatureData,
                                fill: false,
                                borderColor: 'rgb(75, 192, 192)',
                                tension: 0.1
                            }]
                        }
                    };

                    const temperatureChart = new Chart(
                        document.getElementById('temperatureChart').getContext('2d'),
                        temperatureConfig
                    );
                </script>
            </div>
            <div class="col-md-12">
                <h4>Temperature Table</h4>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Temperature</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in temperature_data %}
                        <tr>
                            <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                            <td>{{ entry.temperature }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Current 1 chart</h4>
                <canvas id="current1Chart" width="400" height="250"></canvas>
                <script>
                    const current1Labels = {{ current1_labels| safe }};
                    const current1Data = {{ current1_values| safe }};

                    const current1Config = {
                        type: 'line',
                        data: {
                            labels: current1Labels,
                            datasets: [{
                                label: 'Current 1',
                                data: current1Data,
                                fill: false,
                                borderColor: 'rgb(255, 159, 64)',
                                tension: 0.1
                            }]
                        }
                    };

                    const current1Chart = new Chart(
                        document.getElementById('current1Chart').getContext('2d'),
                        current1Config
                    );
                </script>
            </div>
            <div class="col-md-12">
                <h4>Current 1 Table</h4>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Current 1</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in current1_data %}
                        <tr>
                            <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                            <td>{{ entry.current1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row mt-5">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Current 2 chart</h4>
                <canvas id="current2Chart" width="400" height="250"></canvas>
                <script>
                    const current2Labels = {{ current2_labels| safe }};
                    const current2Data = {{ current2_values| safe }};

                    const current2Config = {
                        type: 'line',
                        data: {
                            labels: current2Labels,
                            datasets: [{
                                label: 'Current 2',
                                data: current2Data,
                                fill: false,
                                borderColor: 'rgb(255, 159, 64)',
                                tension: 0.1
                            }]
                        }
                    };

                    const current2Chart = new Chart(
                        document.getElementById('current2Chart').getContext('2d'),
                        current2Config
                    );
                </script>
            </div>
            <div class="col-md-12">
                <h4>Current 2 Table</h4>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Current 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in current2_data %}
                        <tr>
                            <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                            <td>{{ entry.current2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Current 3 chart</h4>
                <canvas id="current3Chart" width="400" height="250"></canvas>
                <script>
                    const current3Labels = {{ current3_labels| safe }};
                    const current3Data = {{ current3_values| safe }};

                    const current3Config = {
                        type: 'line',
                        data: {
                            labels: current3Labels,
                            datasets: [{
                                label: 'Current 3',
                                data: current3Data,
                                fill: false,
                                borderColor: 'rgb(255, 159, 64)',
                                tension: 0.1
                            }]
                        }
                    };

                    const current3Chart = new Chart(
                        document.getElementById('current3Chart').getContext('2d'),
                        current3Config
                    );
                </script>
            </div>
            <div class="col-md-12">
                <h4>Current 3 Table</h4>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Current 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in current3_data %}
                        <tr>
                            <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                            <td>{{ entry.current3 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row mt-5">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>vibration Chart</h4>
                <canvas id="vibrationChart" width="400" height="250"></canvas>
                <script>
                    const vibrationLabels = {{ vibration_labels| safe }};
                    const vibrationData = {{ vibration_values| safe }};

                    const vibrationConfig = {
                        type: 'line',
                        data: {
                            labels: vibrationLabels,
                            datasets: [{
                                label: 'Vibration',
                                data: vibrationData,
                                fill: false,
                                borderColor: 'rgb(153, 102, 255)',
                                tension: 0.1
                            }]
                        }
                    };

                    const vibrationChart = new Chart(
                        document.getElementById('vibrationChart').getContext('2d'),
                        vibrationConfig
                    );
                </script>
            </div>
            <div class="col-md-12">
                <h4>Vibration Table</h4>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Vibration</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in vibration_data %}
                        <tr>
                            <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                            <td>{{ entry.vibration }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
     <br>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h4>Speed Chart</h4>
                <canvas id="speedChart" width="400" height="250"></canvas>
                <script>
                    const speedLabels = {{ speed_labels| safe }};
                    const speedData = {{ speed_values| safe }};

                    const speedConfig = {
                        type: 'line',
                        data: {
                            labels: speedLabels,
                            datasets: [{
                                label: 'Speed',
                                data: speedData,
                                fill: false,
                                borderColor: 'rgb(255, 99, 132)',
                                tension: 0.1
                            }]
                        }
                    };

                    const speedChart = new Chart(
                        document.getElementById('speedChart').getContext('2d'),
                        speedConfig
                    );
                </script>
            </div>
            <div class="col-md-12">
                <h4>Speed Table</h4>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Speed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in speed_data %}
                        <tr>
                            <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                            <td>{{ entry.speed }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
